<div style="display: flex;">
  <div class="spacer"></div>
  <div style="max-width: 1200px; flex-grow: 1;">
    <h1 class="premier">PREMIER</h1>
    <h1 class="mai">MAI</h1>
    <h1 class="a2025">2025</h1>
    <img style="display: block; margin-left: auto; margin-right: auto; width: 30%; max-width: 300px;"
      src="tete_manu.png" />

    <div style="height: 40px;"></div>
    
    <h5>Rendez-vous le 2 mai (oui oui un vendredi) pour cette énorme soirée !!!</h5>
    <h5>Ambiance de folie</h5>
    <h5>Dancefloor endiablé</h5>
    <h5>Nouveaux jeux</h5>
    <h5>Gros son</h5>
    <h5>Alcool en tout genre</h5>
    <h5>Quelques trucs à manger</h5>
    <h5>ET UN FEU D'ARTIFICE* !!!</h5>
    <h6>*en espérant que ça foire pas ce coup-ci</h6>

    <div style="height: 40px;"></div>

    <div><h6 >Site créé par Sourdeval</h6></div>
  </div>
  <div class="spacer"></div>
</div>
