<div style="display: flex;">
  <div class="spacer"></div>
  <div style="max-width: 1200px; flex-grow: 1;">
    <h1 class="premier">PREMIER</h1>
    <h1 class="mai">MAI</h1>
    <h1 class="a2025">2025</h1>
    <img style="display: block; margin-left: auto; margin-right: auto; width: 30%; max-width: 300px;"
      src="tete_manu.png" />

    <div style="height: 40px;"></div>

    <h5>Rendez-vous le <mark>2 mai</mark> (oui oui un vendredi) pour cette énorme soirée !!!</h5>
    <br>
    <h5>Ambiance de folie ! 🤩</h5>
    <h5>Dancefloor endiablé 😱</h5>
    <h5>Nouveaux jeux.. 🤩</h5>
    <h5>Gros son 🥳</h5>
    <h5>🍹 Alcools en tout genre 🍻</h5>
    <h5>Quelques trucs à manger 😆</h5>
    <h5>ET UN FEU D'ARTIFICE* !!!</h5>
    <h6>*en espérant que ça foire pas ce coup-ci</h6>

    <div style="height: 40px;"></div>

    <h5>Et si vous le souhaitez, restez le samedi <mark>3 mai</mark> pour une soirée plus tranquille !</h5>
    <h5>Histoire de se raconter nos vie et faire des jeux 😆</h5>
    <h5>Et repartir en meilleur forme le dimanche</h5>
    <h5>(sécurité routière avant tout 😉)</h5>

    <div style="height: 40px;"></div>

    <h2>Et spécialement cette année,</h2>
    <h2>car c'est le 10e Premier Mai 😱</h2>
    <h2>...</h2>
    <h2 style="color: red;">VOUS</h2>
    <h2>Choisissez ce qui va se passer !</h2>
    <h3>Balancez vos idées par message dans les différentes catégories ci-dessous !</h3>

    <button *ngFor="let tabName of chatTabs" (click)="selectedTab=tabName" [ngStyle]="{ 'background-color': this.selectedTab == tabName ? 'red' : 'orange'}">{{tabName}}</button>
    <pre-mai25-chat [chatCollection]="selectedTab"></pre-mai25-chat>

    <div>
      <h6>Site créé par Sourdeval</h6>
    </div>
  </div>
  <div class="spacer"></div>
</div>
